<!DOCTYPE html>

<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/resources/core/favicon.ico">
    <link href="/resources/core/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/resources/core/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/resources/core/css/dashboard.css" rel="stylesheet">
    <script src="/resources/core/assets/js/ie8-responsive-file-warning.js"></script>
    <script src="/resources/core/assets/js/ie-emulation-modes-warning.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <title>Hello Finra</title>
</head>

<body ng-app="myApp" ng-controller="formControl">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right" name="inputForm" ng-submit="submitForm(inputForm.$valid)" novalidate>
                <input type="text" name="name" placeholder="Fill me up :)" class="form-control"
                       ng-model="phoneNum" required ng-pattern="onlyNumbers">
                <button ng-disabled="inputForm.$invalid" class="btn btn-success" type="submit" ng-click="testAjax()">
                    Submit
                </button>
            </form>
        </div>
    </div>
</nav>

<div class="container">
    <br>

    <div style="text-align: center;" ng-show="inputForm.name.$invalid && !inputForm.name.$pristine"
         class="alert alert-danger" role="alert">Invalid Parameters - (a) This field cannot be blank, (b) only 7 or 10 numerical digits
        are accepted. e.g. 1234567890, 1234567
    </div>
</div>

<div class="jumbotron">
    <div class="container">
        <h1>Hello, Finra!</h1>

        <p> This is a simple web application generating all possible alphanumeric combinations based on the number
            input. Click on the sample output below or enter your own on the top banner. </p>

        <p><a class="btn btn-primary btn-lg" href="/" role="button">Sample output &raquo;</a></p>
    </div>
</div>

<div class="container">
    <h2 class="sub-header">{{phoneNum}}, {{entriesCount}} combination(s) found:</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="x in names">
                <td> {{x}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="container">
    <hr>
    <div class="lead col-center-block">
        <p style="text-align: center;">{{pageNum}}/{{lastPage}}</p>
    </div>
</div>

<div style="text-align: center;" class="container">
    <button class="btn btn-lg btn-info" ng-click="goFirstPage() ">First</button>
    <button class="btn btn-lg btn-primary" ng-click="goPrevPage()">Prev</button>
    <button class="btn btn-lg btn-success" ng-click="goNextPage()">Next</button>
    <button class="btn btn-lg btn-warning" ng-click="goLastPage()">Last</button>
</div>

<div class="container">
    <hr>
    <footer>
        <div class="row">
            <div class="col-center-block">
                <p style="text-align: center;">&copy; 2015 Ming Teng, All rights reserved. Powered by Spring Boot,
                    SpringMVC, AngularJS, Amazon EC2/ElasticBeanstalk (API), Google App Engine (UI) and Bootstrap.</p>
            </div>
        </div>
    </footer>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="/resources/core/dist/js/bootstrap.min.js"></script>
<!-- Just to make our placeholder images work. Don't actually copy the next line! -->
<!--<script src="/resources/core/assets/js/vendor/holder.min.js"></script>-->
<script src="resources/core/assets/js/ie10-viewport-bug-workaround.js"></script>
<script>
    var app = angular.module('myApp', []);

    app.controller('formControl', function ($scope, $http) {
        $scope.testAjax = function () {
            $http.get("http://www.mteng-ts-api.elasticbeanstalk.com/api/v1/number/" +
                    $scope.phoneNum + "?size=" + $scope.pageSize + "&page=" + $scope.pageNum).then(function (response) {
                $scope.names = response.data.combinations;
                $scope.entriesCount = response.data.count;
                $scope.lastPage = response.data.pagination.lastPage;
                $scope.nextPage = response.data.pagination.nextPage;
                $scope.prevPage = response.data.pagination.previousPage;
            });
        };
        $scope.onlyNumbers = /^(\d{7}|\d{10})$/;
        $scope.pageSize = "10";
        $scope.pageNum = "1";
        $scope.phoneNum = "3612321754";
        $scope.entriesCount = "0";
        $scope.testAjax();
        $scope.goLastPage = function () {
            $scope.pageNum = $scope.lastPage;
            $scope.testAjax();
        };
        $scope.goFirstPage = function () {
            $scope.pageNum = "1";
            $scope.testAjax();
        };
        $scope.goPrevPage = function () {
            $scope.pageNum = $scope.prevPage;
            $scope.testAjax();
        };
        $scope.goNextPage = function () {
            $scope.pageNum = $scope.nextPage;
            $scope.testAjax();
        };
    });
</script>

</body>
</html>